/* ####   Css Header begin #####  */
header{
	background: #f56b2a;
	max-width: 100%;
	height: 60px;
}

div .container { 
	max-width: 1070px;
	margin: 0 auto;
	 }
div .wrapper{
	max-width: 100%;
	margin: auto;
	top: 0px;
	float: left;
	



}

/*  #### End Css header #####*/

/* ### Begin Css body ###### */

body{
	background: #f56b2a;
}

/*  #### End Css body #### */