/* ####   Css Header begin #####  */
header{
	background: #f56b2a;
	max-width: 100%;
	height: 60px;
	

}

.container { 
	max-width: 1070px;
	margin: 0 auto;
	 }
div .wrapper{
	max-width: 100%;
	margin: auto;
	top: 0px;
	float: left;
}

/*  #### The begining Css of navigation bar###### */
.navbar{

	top: 0px; 
	list-style-type: none;
	display: inline;
	font-family: sans-serif, arial;
	font-weight: bold;
	font-size: 0.9em;
	text-align: center
	z-index: 5;
	padding: 5px 0px;
	color: #fff;

}

nav li:hover{

	text-decoration: underline;

}
nav li {
	display: inline;
	padding-top: 20px;
	padding-left:10px;
	margin-left:20px;
	
}



button img {
	width: 15px;
	height: 15px;
	margin-top: 10px;
	margin-right:8px;
	
}

.button {

	border-radius: 5px;
	border: 1px solid #fff;
	margin-top: 8px;
	background-color: #f56b2a; 
	height: 40px;
	width: 150px;

}
.button:hover{
		background-color: #fff;
		
}

.imgbutton{
	color: #fff;
}

span {
	font-size: 1.3em;
	font-family: arial;
	color: #fff;
	text-align: center;
	
}
/*span:hover{
	color:#f56b2a ;
}*/


.logo{
	
	color:#fff;
	z-index:-1;
	font-size: 1.8em;
	font-weight: bold;
	list-style-type: none;
	font-family: sans-serif, arial;
	
}
.logo:hover{
	text-decoration: none;
}

/* #### Comment navbar CSS end #####*/

/*  #### End Css header #####*/

/* ### Begin Css body ###### */


/****   CSS for left div ####*/

#gauche{

	position: relative;
	float: left;
	margin-bottom: 25px;

}

.gauche{
	background-color: red;
	list-style-type: none;
	font-family: sans-serif;
	font-size: 0.9em;
}
.malamu {
	color:#f56b2a;
	font-family: sans-serif;
	font-size: 1.1em;
	margin-bottom: 30px;
}

.eleli{
	background:#4c94ef;
	color: #fff;
	font-size: 1em;
	font-family:arial;
}

.elela{
	background:#888;
	color: #fff;
	font-size: 1em;
	font-family:arial;
}
input .elela{ 
	width: 358px;
	height: 40px;
	background: #fff;
	border-radius: 5px;
	padding-left: 60px;


 }
input {
	width: 358px;
	height: 40px;
	background: #4c94ef;
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
	border-color: #4c94ef;
	text-align: center;
}

.region {
	/*background: blue; */
	
	

	text-align: right;
	list-style-type: none;

}
.region:hover{
	
	text-decoration: underline;
	color:blue;
}
/*  #### End Css body #### */